{% extends 'default/home_layout.html.twig' %}
{% block title %} Register {% endblock %}
{% block body %}
    {% block fos_user_content_header %}
        {{ include('default/header.html.twig') }}
    {% endblock fos_user_content_header %}

    {% block fos_user_content %}
        <div class="container-fluid bg-1 text-center">
            <div class="row col-md-offset-3 col-md-6">
                <div class="alert alert-success">
                    Welcome {{ app.user.username }} Your account has been created!
                </div>     
            </div>
            <div class="row col-md-offset-3 col-md-6">

                <a href="{{ path('blog_list') }}"><button value="Approve" class="btn btn-success approve">BLOG LIST</button></a>
                <a href="{{ path('fos_user_security_logout') }}"><button value="Approve" class="btn btn-danger approve">LOGOUT</button></a>

            </div>
        </div>
    {% endblock fos_user_content %}

    {% block fos_user_content_footer %}
        {{ include('default/footer.html.twig') }}
    {% endblock fos_user_content_footer %}
{% endblock %}
