{% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid bg-2-register">
    <section>
        <div class="row top2">
            <div class="col-md-offset-4 col-md-4">
                <img src="https://www.holdridgegarden.com/img/user/signup_icon.png" class="img-responsive img-circle margin-reg" style="display:inline" alt="Register" width="100" height="350">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
</div>
